<!--page login -->
 <div *ngIf="!active()" >
 <app-auth-etudiant></app-auth-etudiant>
 </div>
 <!-- navigation avec tout les page -->
 <!-- navbar -->
 <div class="hero" *ngIf="active()">
<nav>



    <h2 class="logo">MANGEMENT OF <span>STUDENTS</span></h2>
    <ul>
      <li>
          <a routerLink="">list of STUDENTS</a>
        </li>
        <li>
          <a  routerLink="add"> add STUDENTS</a>
        </li>

      </ul>
      <!-- batton to signUp -->
      <app-signup></app-signup>

</nav>
<!--navigation avec les page -->
  <router-outlet></router-outlet>
</div>

